<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<<<<<<< HEAD
  
<div class="form-group">
=======
  <div class="form-group">
>>>>>>> ae17e10e4e30657927b4099fc80045663523f2fd
    <%= f.label :document %><br>
    <%= f.file_field :document, class: "form-control" %>
  </div>

<div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>


<div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  
</div>

  <div class="form-group">
    <%= f.submit :class => 'btn btn-danger' %>
  </div>
<% end %>

