<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :document %> <span class="glyphicon glyphicon-file"></span>
      <%= f.file_field :document, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image %> <span class="glyphicon glyphicon-picture"></span>
      <%= f.file_field :image, class: "form-control" %>
    </div>
     <div class="form-group">
        <%= f.submit :class => 'btn btn-danger' %>
      </div>
  </div>
  <div class="col-md-6">
     <div class="jumbotron">
        <div class="form-group has-error">
          <%= f.label :Title %><br>
          <%= f.text_field :description, class: "form-control" %>
        </div>

        <div class="form-group has-error">
          <%= f.label :Notes %><br>
          <%= f.text_area :description_text, class: "form-control" %>
        </div>
     </div>
  </div>

</div>
<% end %>

