<%= link_to pins_path do %>
<span class="glyphicon glyphicon-circle-arrow-left"></span>
<% end %>
<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-8">
        <div class="panel panel-default"> 
          <div class="panel-heading center">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag @pin.image.url(:medium) %>
              </div>
              <div class="col-md-6">
                <div class="well">

                  <ul>
                    <li><i>Username </i> <strong><%= @pin.user.name if @pin.user %></strong>
                    <% if user_signed_in? %>
                        <li><i>Document </i> <%= link_to "My document", @pin.document.url, target: "_blank" %></li> 
                    <% end %>

                    <li><%= "#{@pin.impressionist_count} <strong>views</strong>".html_safe %></li>    
                    <li> Unique ip adress views <%= @pin.impressionist_count(:filter=>:ip_address) %></li>
                    <li>
                          Tags: <%= raw @pin.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
                    </li>

                    <div id="due_date_timer"></div>
                   <script>
                  var year = <%= @pin.duedate.year %>;
  var month = <%= @pin.duedate.month %>;
  var day = <%= @pin.duedate.day %>;

  var date = new Date(year, month, day);
  $("#due_date_timer").countdown({until: date});
                  </script>

                      <% if @pin.user == current_user %>
                        <%= link_to edit_pin_path(@pin) do %>
                          <span class="glyphicon glyphicon-edit"></span>
                          Edit
                        <% end %>
                      <% end %>
                     
                    </ul>
                </div>
              </div> 

            </div>
          </div>

          <div class="panel-body scrollable-body">
              <%= @pin.paper.html_safe %>
          </div>
             
          
        </div>
      
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
          </div>
          <div class="panel-body">
            <%= @pin.description_text %>
          </div>
        </div>
        <div class="jumbotron">
            <%= commontator_thread(@pin) %>
        </div>

      
      </div>
     
        
   </div>

</div>